body{
   /* background-image: url(../images/image4.jpg);  */
  background-color: lightblue;
} 

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 23px;
  text-align: center;
}

.wrapper{
  margin:20px 0 20px 15px;
  text-align: center;
  
}

button{
  font-size: 27px;
  text-align: center;
}

p{
  text-align: center;
}

.floatLeft{
	float:left;

}
.floatRight{
	font-size: 20px;

}
#alphabet li{
	list-style: none;
	width: 60px;
	height: 51px;
	padding-top: 10px;
	background: white;
	color:black;
	font-weight: bold;
	cursor: pointer;
	border-radius: 23px;
	font-size: 41px;
	border:solid 1px white;
	float:left;
	text-align:center;


}

#titles{
	font-size: 30px;
}
